numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.8.4
seaborn==0.13.2
statsmodels==0.14.0

sentence-transformers==2.7.0
faiss-cpu==1.7.4
streamlit==1.35.0
google-play-scraper==1.2.4

tqdm
Joblib
